useDynLib(fdesigns, .registration=TRUE)
S3method(print, flm)
S3method(summary, flm)
S3method(plot, flm)
S3method(print, fglm)
S3method(summary, fglm)
S3method(plot, fglm)
importFrom(Rcpp, evalCpp)
importFrom("parallel", "mclapply")
importFrom("Matrix", "bdiag")
importFrom("mvQuad", "createNIGrid", "rescale", "getNodes", "getWeights")
importFrom("mvtnorm", "dmvnorm")
importFrom("stats", "model.matrix", "terms", "family", "runif")
importFrom("graphics", "axis", "plot")
importFrom("stats", "optim", "stepfun")

export(pflm, pfglm, P)
